# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# My compilation output directories
bin/*
lib/*

# Visual Studio trash files
*.tlog
*.log
*.lastbuildstate
*.pdb
*.vcxproj.user
*.opensdf
*.sdf
*.suo
/TestDriver/Debug/Test.inf
/TestDriver/Release/Test.inf
/TestDriver/x64/Debug/Test.inf
/TestDriver/x64/Release/Test.inf
